<%-include ("header") -%>
<h2>About Us</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam in facere at reprehenderit totam pariatur fugit repellat voluptatem tempore! Velit, quaerat unde!</p>

<%-include('footer')-%>